:root {
    --text: #120217;
    --background: #ffffff; 
    --primary: #0c132c;
    --secondary: #bbdbf4; 
    --tertiarty: #e4f3ff; 
    /* --accent: #8c1d3e; */
    --accent: #a7005a;
    --buttonselect: #820047;
    --border: #3d4256;
    --backgroundbody: #efefef;
    --primaryadjacent: #0c152e;
} 
body { 
    background-color: var(--backgroundbody);
    /* margin-top: 0; */
}
header {
    background-color: var(--background);
    background-image: url(imagesCopy/flagsGap2RowTrans.png);
    font-family: Georgia, "Times New Roman", serif;
    background-size: 100% 100%;
    background-repeat: no-repeat;   
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--border);
}
h1 {
    color: var(--primary);
    font-family: Georgia, "Times New Roman", serif;
    font-size: 300%;
    margin-top: 5px;
    margin-bottom: 5px;
}
h2, h3 {
    color: var(--primary);
    font-family: Georgia, "Times New Roman", serif;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 20px;
}
h2.flagheader {
    color: var(--background);
    background-color: var(--primary);
    font-family: Georgia, "Times New Roman", serif;
    text-align: center;
    font-size: 200%;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 5px 0 5px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--border);;
}
a {
    text-decoration: none;
}
nav { 
    background-color: var(--background);
    position: sticky;
    top: 0;
    width: 100%; /* figure out why this is wrong (when I adjust size it also makes it icorrect) (the reason it is not included in the wrapper is because of the fixed position) */
    font-family: Georgia, "Times New Roman", serif;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--border);
}
nav ul{ /* when clicked on, the border for the left list item is still present */
    cursor: default;
    list-style-type: none;
    padding: 5px 0 0 0;
    text-align: left;
    font-size: 1.5em;
    margin: 0;
}
nav ul ul {
    position: absolute;
    left: 96px;
    background-color: var(--background);
    padding: 0;
    display: none;
}
nav li {
    display: inline;
}
nav ul ul li {
    border: 1px solid var(--border);
    font-size: 50%;
    display: block;
    width: 5.5em;
}
nav a{
    text-decoration: none;
    padding: 5px 15px 7px;
    color: var(--primary);
    border-right: 1px solid var(--backgroundbody);
}
nav ul ul li a {
    border: none;
    padding-left: 5px;
}
a:hover {
    color: var(--accent);
}
nav li:hover ul {
    display: block;
}
main{
    display: grid;
    gap: .5em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
main p {
    padding: 0 20px 0;
    color: var(--text);
    margin: 0 0 10px;
    font-family: Tahoma, Helvetica, sans-serif;
    text-indent: 1em;
}
main ul {
    list-style-type: circle;
    font-family: Tahoma, Helvetica, sans-serif;
    margin-top: 0;
}
main li {
    margin: 5px;
}
p.topmargin {
    margin-top: 10px;
}
.graphic {
    background-color: var(--background);
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--border)
}
 #homegraphic1 {
    background-image: url(imagesCopy/flagMontage.png);
    background-size: 100% 100%;
}
#homegraphic2 {
    background-image: url(imagesCopy/flagHeart.png);
    background-size: 65% 90%;
    background-position: center;
}
#homegraphic3 {
    background-image: url(imagesCopy/flagApollo.png);
    background-size: 90% 90%;
    background-position: center;
}
#sedonagraphic {
    background-image: url(imagesCopy/saguaro2.png);
    background-size: 100% 100%;
    background-position: center;
    border-radius: 10px;
}
/* #lighthousegraphic {
    background-image: url(imagesCopy/lighthouse.png);
    background-size: 100% 100%;
    background-position: center;
    border-radius: 10px;
} */
#sunflowergraphic {
    background-image: url(imagesCopy/sunflower3.png);
    background-size: 100% 100%;
    background-position: center;
    border-radius: 10px;
}
#sunflowergraphic2 {
    background-image: url(imagesCopy/sunflower2.png);
    background-size: 100% 100%;
    background-position: center;
    border-radius: 10px;
}
/* #arizonagraphic {  YOU NEED TO TURN THIS INTO A IMG TAG 
    background-image: url(imagesCopy/arizonaflag.png);
    background-size: 100% 100%;
} */
.centerimage {
    display: flex;
    justify-content: center;
    align-items: center;
}
img { 
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--border);
}
video {
    border-radius: 10px;
    background-color: var(--backgroundbody)
}
.content {
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--border);
    background-color: var(--background);
}
.contentextragrid {
    background-color: var(--backgroundbody);
    display: grid;
    gap: .5em;
    grid-template-rows: auto;
}
.contentextragridtop { /* this is needs to be fixed to be more proper, you shouldn't use an id just to color it */
    background-color: var(--background);
} 
.contentextragridbottom { /* this is needs to be fixed to be more proper, you shouldn't use an id just to color it */
    background-color: var(--background);
}
/* #contentextragridflag {
    background-color: var(--background);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 1px 1px 3px var(--border);
    border: 2px solid var(--primary)
} */
/* #content1 {
    background-color: var(--tertiarty);
}
#content2 {
    background-color: var(--tertiarty);
}
#content3 {
    background-color: var(--secondary);
}
#content4 {
    background-color: var(--secondary);
} */
.submitbutton {
    background-color: var(--accent);
    color: var(--background);
    border-radius: 5px;
}
.emailbutton {
    margin-left: 20px;
}
input:hover {
    background-color: var(--buttonselect);
    color: var(--background);
    cursor: pointer;
}
input[type="email"] {
    cursor: text;
    background-color: var(--background);
    color: var(--text);
}
video[poster="imagesCopy/sunsetsaguaro.PNG"] {
    object-fit: cover;
}
form {
    margin-bottom: 10px;
}
caption {
    color: var(--primary);
    font-family: Georgia, "Times New Roman", serif;
    font-size: 175%;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--background);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
table { /* would like to make the edges rounded */
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    background-color: var(--background);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
th {
    color: var(--primary);
    font-family: Georgia, "Times New Roman", serif;
}
td {
    font-family: Tahoma, Helvetica, sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* td.topalign {  LOOK BACK INTO USING THIS IF YOU CAN'T FIND EASIER SOLUTION
    vertical-align: top;
} */ 
th, td {
    padding: 5px;
    border: 2px solid var(--primary);
    border-collapse: collapse;
}
tr:nth-of-type(odd) {
    background-color: var(--backgroundbody);
}
tr:first-of-type {
    background-color: var(--secondary);
}
.symboltable {
    text-align: center;
    border-left: none;
}
.noborderbottom {
    border-bottom: none;
}
.noborderleft {
    border-left: none;
}
.noborderright {
    border-right: none;
}
.noindent {
    text-indent: 0;
}
.borderprimary {
    border: 2px solid var(--primary);
}
footer {
    color: var(--background);
    background-color: var(--border);
    font-family: Tahoma, Helvetica, sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--border);
}
footer p {
    margin: 5px;
    font-size: 75%;
}
footer a {
    color: var(--background);
    text-decoration: none;
}
footer a:hover {
    color: var(--secondary);
}
header {grid-area: header;}
nav {grid-area: nav;}
main {grid-area: main;}
footer {grid-area: footer;}
#wrapper {
    background-color: var(--backgroundbody);
    margin: auto;
    width: 80%;
}
#wrapper {
    display: grid;
    gap: .5em;
    grid-template:
        "header   header"  65px
        "nav      nav"     40px
        "main     main" 
        "footer   footer"
        / 1fr 1fr;
}